{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
    <title>Patient</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Cuore</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search patients" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>